* {
	outline: none;
}
#header {
	background: #f9f9f9;
	padding: 20px;
	border-bottom: 1px solid #d9d9d9;
}
#header:after {
	content: "";
	clear: both;
	display:block;
}
#header select {
	display: block !important;
	float: left;
	margin-right: 10px;
	width: 130px;
	height: 30px;
}
#header a {
	height: 30px;
    display: block;
    float: right;
    border-radius: 4px;
    padding: 0 20px;
    line-height: 30px;
    font-size: 13px;
    color: white;
    background: #787878;
    font-family: Arial;
    text-decoration: none;
}
.input {
    background: #fcfcfc;
    border: 1px solid #d9d9d9;
    padding: 10px;
    width: 200px;
    display: block;
    border-radius: 3px;
    margin-bottom: 5px;
}
#formNewMovie {
	padding: 20px;
}
#formNewMovie label {
	height: 40px;
    display: inline-flex;
    font-family: "Arial";
    align-items: center;
    font-size: 13px;
    margin-right: 9px;
}
#formNewMovie label input {
	margin-right: 10px;
}
#formNewMovie input[type=submit] {
	width: 100px;
	height: 30px;
	background: #787878;
	color: white;
	border-radius: 3px;
	border: none;
	margin-top: 5px;
	cursor: pointer;
}